body {
    background-color: #434b59;
    margin: 0;

}

h1 {
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {}

#side_menu {
    padding: 10px 16px;
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
    width: 100%;
    z-index: 2;
    justify-content: space-around;
    margin-bottom: 3vw;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}


#menu_billede {
    position: absolute;
    left: 0vw;
    margin: 0;
    top: 6px;
}

#menu_billede:hover {
    transform: scale(0.9);
}

#menu_billede img {
    height: 55px;
    float: left;
}

nav {
    float: right;
    padding: 0px 36px 0px 36px;
}

li {
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

a {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 14px 0px 14px;
}

a:hover {
    color: black;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    cursor: pointer;
    font-size: 1.8rem;
    align-content: flex-end;
    color: white;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

/* visited link */
#side_menu header nav a:visited {
    color: #ffffff;
}

/* mouse over link */
#side_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#side_menu header nav a:active {
    color: #000000;
}

#side_menu header nav {
    display: flex;
    margin: 1rem 1.5rem;
    justify-content: center;
}

#side_menu header nav a {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    /*border-right: 1px solid black;*/
}

#side_menu #menuknap {
    position: absolute;
    left: 85vw;
}

@media only screen and (min-width: 1000px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*menu færdig*/

/* Slideshow css starts*/
/* Slide show box */
* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    /* anvender vores definerede fade metode */
    animation-duration: 3s;
    /*Hvor længe animationen skal vare*/
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow css end */

/* footer */
.bottom_footer {
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
    width: 100%;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    color: #9ea1a5;
}
