body {
    background-color: #434b59;
    margin: 0;

}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;

    letter-spacing: 1px;
}

p {
    font-family: 'Work Sans', sans-serif;
}

#side_menu {
    padding: 10px 16px;
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
    width: 100%;
    z-index: 2;
    justify-content: space-around;
    margin-bottom: 3vw;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}


#menu_billede {
    position: absolute;
    left: 0vw;
    margin: 0;
    top: 6px;
}

#menu_billede:hover {
    transform: scale(0.9);
}

#menu_billede img {
    height: 55px;
    float: left;
}

nav {
    float: right;
    padding: 0px 36px 0px 36px;
}

li {
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

a {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 14px 0px 14px;
}

a:hover {
    color: black;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    cursor: pointer;
    font-size: 1.8rem;
    align-content: flex-end;
    color: white;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

/* visited link */
#side_menu header nav a:visited {
    color: #ffffff;
}

/* mouse over link */
#side_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#side_menu header nav a:active {
    color: #000000;
}

#side_menu header nav {
    display: flex;
    margin: 1rem 1.5rem;
    justify-content: center;
}

#side_menu header nav a {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    /*border-right: 1px solid black;*/
}

#side_menu #menuknap {
    position: absolute;
    left: 85vw;
}

@media only screen and (min-width: 1000px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*menu færdig*/

/* Slideshow css starts*/
/* Slide show box */
* {
    box-sizing: border-box;
}

/* Slideshow container */

.slideshow {
    background-color: aliceblue;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    /* anvender vores definerede fade metode */
    animation-duration: 3s;
    /*Hvor længe animationen skal vare*/
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow css end */

/* Slogan */
.item-1 {
    top: 1rem;

    width: 60%;
    position: relative;

    font-size: 2rem;

    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: anim-1;
}

@keyframes anim-1 {

    0%,
    8.3% {
        left: -40%;
        opacity: 0;
    }

    8.3%,
    90% {
        left: 25%;
        opacity: 1;
    }

    90%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

/*Slogan end */




/* section_1 */

.content {
    background-color: #434b59;
}

#more {
    display: none;
}

button {
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 16px;
}

button:hover {
    background-color: #9d9d9d;
}

#section_1 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#section_1 .col {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #e3e3e3;
    margin: 30px;
    padding: 25px;
}

#section_1 {
    margin: 1em;
    padding: 1em;
}

#section_1 p {
    color: #282828;
}

#info .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 4rem;
}

#info .col {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ECEDEE;
    margin: 1em;
    padding: 2em;
}

#info .top {
    flex-grow: 1;
}

#info .icons {
    font-size: 60px;
    color: aqua;
}

/* section_1 end */

/* section_2 */


#section_2 {
    display: flex;
    flex-wrap: wrap;
}

#section_2 .col_1 {
    flex-basis: 300px;
    flex-grow: 1;
    background: #e3e3e3;
    margin: 30px;
    padding: 25px;
}

/* footer */
#bottom_footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
    width: 100%;
    z-index: 2;
    bottom: 0;
    position: relative;
    justify-content: space-between;
}

#bottom_footer a,
p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #9ea1a5;
    text-transform: inherit;
}

#bottom_footer a:hover {
    color: white;
}

#left_footer,
#right_footer {
    flex-wrap: wrap;
    margin: 60px 80px 30px 80px;
    color: #57596a;
}

#right_footer {
    display: flex;
    align-content: flex-end;
}

.left,
.right {
    flex-basis: 250px;
    flex-grow: 1;

}

.ikoner {
    display: flex;
    flex-wrap: wrap;
}

.item {
    font-size: 25px;
    margin: 1rem 1rem 0rem 1rem;
    color: #57596a;
}

.item:hover {
    color: #5080db;
}

.fa {
    width: 50px;
    z-index: 3;
}
